
<div class="div-principal">
    <div class="contenedor-image">
      <img class="image" src="./../../../assets/img/logo_nacio.jpg">
    </div>
      <form class="formulario " [formGroup]="registerUsuario">
  
          <input formControlName="email" placeholder="ingrese su email"type="email" class="ingresar">
          <input formControlName="password" placeholder="ingrese su contraseña" type="password" class="ingresar1">
          <input  formControlName="repetirPassword" placeholder="vuelva a ingresar su contraseña" type="password" class="ingresar2">
         <button routerLink="/index" class="boton">registrarse</button>
  
      </form>
  </div>
  