<div>
    <nav class="nav-principal" style="height: 60px; display: flex;">
        <button>
            <img src="./../../../assets/img/menu.png" style="height: 50px;" class="menu-img">
            <p style="position: absolute; left: 65%;top: 15px;" class="font-bold">FRANCISCO</p>
            <img src="./../../../assets/img/user.png" class="user-img" > 
        </button>
    </nav>
    <div>
      <img src="./../../../assets/img/Estoicismo.jpg" class="inicio-img">
      <p class="bienvenido">bienvenidx</p>
      <div>
        <div class="Contenedor-secundario">
          <div class="contenedor-notificaciones"> 
          <img src="./../../../assets/img/notificaciones.jpg" class="notificaciones-img">
           <h1 class="titulo-notificaciones">notificaiones</h1> 
           <p class="texto-notificaciones"> no tienes notificaciones, debes socialivilizar mas</p>
          </div>
        </div>
        <div>
            <img src="./../../../assets/img/calendario.png">
            <p>calendario de mesas</p>
            <img>
        </div>
      </div>  
    </div>
</div>