<div>
    <nav class="nav-principal" style="height: 60px; display: flex;">
        <button>
            <img src="./../../../assets/img/menu.png"   class="menu-img">
            <p  class="font-bold">FRANCISCO</p>
            <img src="./../../../assets/img/user.png" class="user-img" >
        </button>
    </nav>
    <div>
      <img src="./../../../assets/img/Estoicismo.jpg" class="inicio-img">

      <div>
        <div class="Contenedor-secundario">
          <div class="contenedor-notificaciones"> <div class="contenedor-nose">
            <img src="./../../../assets/img/notificaciones.jpg" class="notificaciones-img">
           <h1 class="titulo-notificaciones">Notificaciones</h1>
          </div>
           <p class="texto-notificaciones"> no tienes notificaciones, debes socialivilizar más</p>
          </div>
        </div>
        <div class="contenedor-terciario">
            <div style="display: flex;">
              <img class="img-calendario"src="./../../../assets/img/calendario.png">
            <p class="text-calendario">calendario de mesas</p>
            </div>
            <img class="img-calendario2"src="./../../../assets/img/calendario2.png">
        </div>

      </div>
    </div>
</div>
