
.boton{
    position: relative;
    background-color: #D9D9D9;
    border: #000000 1px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    top: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.966);
    padding: 10px 20px;
}
  
  .container {
    display: block;
    text-align: center;
    margin-top: 20%;
  }
  
  h1 {
    font-size: 60px;
    color: #000000;
  }
  
  p {
    font-size:30px;
    color: #000000;
  }
  .boton:active{
    box-shadow: 0px 4px 4px rgba(255, 252, 252, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
.img{
  position: relative;
  top: 60px;
}