<div class="div-principal">
  <div class="contenedor-image">
    <img class="image" src="./../../../assets/img/logo_nacio.jpg">
  </div>
    <form (ngSubmit)="login()"[formGroup]="loginUsuario" class="formulario">

        <input formControlName="email" placeholder="Ingrese su Email"type="email" class="ingresar">

        <input formControlName="password" placeholder="Ingrese su contraseña" type="password" class="ingresar1">
       <button type="submit" class="p-2 btn btn-dark oka">INGRESAR</button>
<div><button routerLink="/recuperarContra"  class="btn btn-link mt-4 ">¿Has olvidado tu contraseña?</button></div>

    </form>
</div>
