.div-principal{
  display: block;
  height: 200vw;
  width: 100vw;
  background: #ffff;
  margin-top: 0%;
 
}
.image{
  position: relative;
  box-shadow: 50px, black;
  border-radius: 50%;
  top: 80px;
  left: 132px;
  height: 150px;
  width: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.ingresar{
  color: #fbfbfb;
  margin:auto;
  border: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin: 50px;
}
.formulario{
  display:block;
  justify-content: center;
  height: 130vw;
  width: 85vw;
  margin-top: 120px;
text-align: center;
background: #a1a1a1;
border-radius: 20px;
margin: auto;
margin-top: 25px;
border: 2px black;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boton{
  font-size: 20px;
  background-color: #ffff;
  padding: 10px 20px;
  border-radius: 20px;

}
.email{

  top: 70px;
}
.contenedor-image{
  height: 130px;
}
