<div class="div-principal">
    <nav class="navbar  border-bottom border-bottom-dark" data-bs-theme="dark">
      <button routerLink="/index" ><img src="../../../assets/img/flecha.jpg" class="img"> </button>
      <p class="posicion ">{{ dataUser.email}}</p>
      <img src="../../../assets/img/user.png" class="img2">
    </nav>
    <div>
      <img src="./../../../assets/img/practica.jpg" class="inicio-img">
      <div class="card bg-light mb-3 aver" style="max-width: 18rem;">
        <div class="card-header">Mesas febrero/marzo</div>
        <div class="card-body">
          <div style="display: flex;">
            <h5 class="card-title m-2 "> 18/07 </h5>
             <button type="button" class="btn btn-outline-dark ml-20 mb-2 boton">inscribirse</button>
            </div>
            <div style="display: flex;">
              <h5 class="card-title m-2"> 24/07 </h5>
               <button type="button" class="btn btn-outline-dark ml-20 boton">inscribirse</button>
              </div>
  
  
  
        </div>
  
  
  </div>
  <div class="card bg-light mb-3 aver" style="max-width: 18rem;">
    <div class="card-header">Mesas junio/julio</div>
    <div class="card-body">
      <div style="display: flex;">
        <h5 class="card-title m-2 "> 18/07 </h5>
         <button type="button" class="btn btn-outline-dark ml-20 mb-2 boton">inscribirse</button>
        </div>
        <div style="display: flex;">
          <h5 class="card-title m-2"> 24/07 </h5>
           <button type="button" class="btn btn-outline-dark ml-20 boton">inscribirse</button>
          </div>
  
  
  
    </div>
  
  
  
  </div>
  <div class="card bg-light mb-3 aver" style="max-width: 18rem;">
    <div class="card-header">Mesas diciembre/noviembre</div>
    <div class="card-body">
      <div style="display: flex;">
        <h5 class="card-title m-2 "> 18/07 </h5>
         <button type="button" class="btn btn-outline-dark ml-20 mb-2 boton">inscribirse</button>
        </div>
        <div style="display: flex;">
          <h5 class="card-title m-2"> 24/07 </h5>
           <button type="button" class="btn btn-outline-dark ml-20 boton">inscribirse</button>
          </div>
  
  
  
    </div>
  
  
  
  </div>
  
  