.contenedor-principal{
    height: 100vh;
    width: 100vw;
    background: #204869;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img{
    position: absolute;
    top: 65px;
    box-shadow: 50px, black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.contenedor-secundario{
     display:flex;
  justify-content: center;
  height: 130vw;
  width: 85vw;
  margin-top: 120px;
text-align: center;
background: #ffffff;
border-radius: 20px;
margin: auto;
margin-top: 155px;
border: 2px black;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ingresar{
    font-weight: bold;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 50px;
  margin-top: 150px;
  border-bottom-color: rgb(43, 148, 225);
  border-width: 0 0 1px;
  border-bottom-style: solid;
}
.bot{
    color: white;
    background-color: var(--bs-btn-hover-bg);
}